<!-- <div *ngIf="forecast">
    <h2>3-Day Forecast for {{ forecast.location.name }}</h2>
    <div class="forecast-day" *ngFor="let day of forecast.forecast.forecastday">
      <h3>{{ day.date }}</h3>
      <img [src]="day.day.condition.icon" alt="Weather Icon" />
      <p>Max Temp: {{ day.day.maxtemp_c }} °C</p>
      <p>Min Temp: {{ day.day.mintemp_c }} °C</p>
      <p>{{ day.day.condition.text }}</p>
    </div>
  </div> -->
  
  <div class="forecast"  *ngIf="forecast">
    <h2 style="text-align: center;">13-Days Forecast for {{ forecast.location.name }}</h2>
    <div class="forecast-container">
      <div class="card2" *ngFor="let day of filteredForecast()">
        <h3>{{ day.date | date:'MMMM d, y'}}, {{ day.date | date:'EEEE' }}</h3>
        <div class="container2">
          <img [src]="day.day.condition.icon" alt="Weather Icon"  style="width: 125px;
  margin-left: -35px;"/>
        </div>
        <div class="card-header">
          <span>Condition: {{ day.day.condition.text }}</span>
        </div>
        <div class="card-header3">
          <span>Max Temp: {{ day.day.maxtemp_c }} °C | {{ day.day.maxtemp_f }} °F</span>
          <span>Min Temp: {{ day.day.mintemp_c }} °C | {{ day.day.mintemp_f }} °F</span>
          <span>Wind Speed: {{ day.day.maxwind_kph }} kph</span>
          <span>Humidity: {{ day.day.avghumidity }}%</span>
          <span>Pressure: {{ day.day.pressure_mb }} mb</span>
          <span>UV Index: {{ day.day.uv }}</span>
          <span>Feels Like: {{ day.day.avgtemp_c }} °C | {{ day.day.avgtemp_f }} °F</span>
        </div>
      </div>
    </div>
  </div>
  