
<div class="weather-header">
  <!-- <div class="cloud"></div> -->
  <div class="cloud2 front">
    <span class="left-front"></span>
    <span class="right-front"></span>
  </div>
  <span class="sun sunshine"></span>
  <span class="sun"></span>
  <div class="cloud2 back">
    <span class="left-back"></span>
    <span class="right-back"></span>
  </div>
  <!-- <h1>Weather Dashboard</h1> -->
</div>

<div class="container">
  <!-- Search Component -->
  <app-search (search)="onSearch($event)"></app-search>
<div class="container3">
  <!-- Current Weather Component -->
  <app-current-weather [location]="location"></app-current-weather>

  <!-- Forecast Component -->
  <app-forecast [location]="location"></app-forecast>
</div>
</div>
