



<div class="current-weather" *ngIf="currentWeather">
  <h2 style="text-align: center;    font-family: system-ui;
    color: white;">Today</h2>
  <div class="card2">

    <div class="container2">
      <img [src]="currentWeather.current.condition.icon" alt="Weather Icon" style="width: 125px;
  margin-left: 68px;" />

      <!-- <div class="cloud2 front">
      <span class="left-front"></span>
      <span class="right-front"></span>
    </div>
    <span class="sun sunshine"></span>
    <span class="sun"></span>
    <div class="cloud2 back">
      <span class="left-back"></span>
      <span class="right-back"></span>
    </div> -->
    </div>

    <div class="card-header">
      <span>{{ currentWeather.location.name }}</span>
      <span>{{ currentDate }},{{ currentDay }}</span>
    </div>

    <span class="temp">{{ currentWeather.current.temp_c }} °C | {{ currentWeather.current.temp_f }} °F</span>

    <div class="card-header2">
      Condition:{{ currentWeather.current.condition.text }}
      <span> Wind-Speed:{{ currentWeather.current.wind_kph }} kph</span>
      <span>Humidity: {{ currentWeather.current.humidity }}%</span>
      <span> Pressure: {{ currentWeather.current.pressure_mb }} mb</span>
      <span>UV Index: {{ currentWeather.current.uv }}</span>
      <span>Feels Like: {{ currentWeather.current.feelslike_c }} °C| {{ currentWeather.current.feelslike_f }} °F</span>
    </div>


  </div>

</div>
